* {
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
@font-face {
  font-family: 'CustomFont';
  src: url('../fonts/Satisfy-Regular.ttf') format('woff2'), }
  @font-face {
    font-family: 'CustomFont2'; 
    src: url('../fonts/SingleDay-Regular.ttf') format('woff2'), }
nav {
  
  display: flex;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  padding: 40px 0px;
  box-shadow: 2px 2px 16px 0px rgba(0,0,0,0.33);
  width: 100%;
  position: fixed;
  z-index: 99;
  
}
.font{
  font-family: 'CustomFont';
}
.font2{
  font-family: 'CustomFont2';
}
nav div h1 {
  
  color: rgb(84, 78, 89);
}
nav div h1 span {
  color: red;
}
.secDiv{
  
}
.secDiv a {
  
  text-decoration: none;
  color: rgb(84, 78, 89);
  margin-left: 25px;
}
.labell {
  color: rgb(84, 78, 89);
}
.secDiv select {
  border-style: none;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(84, 78, 89);
}
.videoo {
  position: relative;
  right: 30px;
}
.hihi {
  position: relative;
  top: -170px;
  right: -320px;
  z-index: 2222222222;
  background-color: white;
  opacity: 0.8;
  padding: 20px;
  border-radius: 50%;

}

.btn-1 {
  background-color: rgb(213, 53, 53);
  color: white;
  border-radius: 20px;
  padding: 10px;
  border-style: none;
  width: 120px;
}
.videoo {
  font-size: 50px;
  color: red;
  z-index: 444444;
}

.bigDiv {
  background-color: rgb(242, 242, 242);
  height: 100vh;
  display: flex;
  padding-top: 150px;
}
.mainDiv-1 {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}
.mainDiv-1 h1 {
  color: rgb(55, 55, 63);
  font-size: 40px;
  transform: translateX(-50px);
}
.mainDiv-1 p {
  color: rgb(95, 98, 101);
  font-size: 20px;
}
.mainDiv-2 {
  width: 50%;
  height: 100%;
}
.mini-1 {
  display: flex;
  gap: 10px;
  transform: translateX(-105px);
}
.mini-1 div i {
  color: rgb(211, 51, 51);
  font-size: 28px;
  transform: translatey(3px);
}

.mini-1 div:nth-child(2) {
  font-size: 18px;
}
.mini-1 div:nth-child(2):hover {
  color: rgb(211, 51, 51);
  transition: 0.4s;
}
@keyframes saif {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);
  }
}
.mainDiv-2 img {
  animation: saif infinite 4s;
}
.about-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 3px solid rgb(99, 102, 105);
  height: 80px;
  width: 700px;
  font-size: 20px;
  margin-bottom: 93px;
}
.mainDiv-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
  padding: 70px;
}
.mini-2 {
  width: 50%;
  height: 800px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  position: relative;
  top: -500;

  transform: translateX(50px);
}
.mini-3 {
  width: 50%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  font-size: 18px;
  transform: translate(-100px, 100px);
}
.mini-3 p {
  color: rgb(144, 146, 148);
}
.mini-3 i {
  color: red;
  transform: translateX(-15px);
}
.mainDiv-4 {
  display: flex;
}
.red {
  color: rgb(206, 18, 18);
}
.about-2 {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  transform: translateX(22px);
}

.bigDiv-3 {
  height: 430px;
  width: 100%;
  background-color: rgb(242, 242, 242);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.cart-1 {
  height: 80%;
  width: 400px;
  background-color: rgb(206, 18, 18);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}
.cart-1 button {
  height: 40px;
  width: 150px;
  background-color: rgb(213, 53, 53);
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
  border-radius: 20px;
  color: white;
  gap: 10px;
}
.cart-1 button:hover {
  background-color: white;
  color: black;
  transition: 0.6s;
}
.cart-1 p {
  padding: 0px 30px;
}
.cart-2 {
  height: 322px;
  width: 300px;
  box-shadow: -7px 10px 32px -24px rgba(0, 0, 0, 0.83);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
  text-align: center;
  padding: 10px;
  background-color: white;
}
.cart-2 i {
  background-color: rgb(250, 225, 225);
  font-size: 35px;
  padding: 20px;
  border-radius: 50%;
  color: rgb(213, 53, 53);
}
.cart-2 i:hover{
background-color:rgb(213, 53, 53) ;
color: white;
transition: 0.4s;
}
.bigDiv-4 {
  background-image: url(../images/stats-bg.jpg);
  height: 400px;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bigDiv-4 div {
  color: white;
  background-color: rgba(0, 0, 0, 0.63);
  height: 100%;
  width: 100%;
  z-index: 33;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bigDiv-4 div h1 {
  font-size: 50px;
}
.bigDiv-4 div p {
  color: rgb(199, 196, 195);
  font-size: 17px;
}

.bigDiv-8 {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 50px;
}
.mini-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mini-4 p {
  padding-top: 60px;
}
.mini-4 h1 {
  padding-top: 60px;
}
.mainDiv-5 {
  display: flex;
  gap: 20px;
  position: relative;
}
.card-1 {
  height: 600px;
  width: 430px;
  overflow: hidden;
  box-shadow: -7px 10px 32px -24px rgba(0, 0, 0, 0.83);
  border-radius: 10px;
}
.card-1:hover {
transform: scale(1.05);
  transition: 0.4s;
}
.card-1:hover .zzz{
  display: flex;
}
.zzz{
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.13);
  width: 40px;
  row-gap: 20px;
  position: absolute;
  top: 30px;
  left: 370px;
  padding: 20px 5px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: none;
  
}
.card-1 img {
  width: 100%;
  height: 70%;
}
.clip {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translatey(-100px);
  height: 275px;
  width: 100%;
  background-color: white;
  gap: 20px;
  text-align: center;
  clip-path: polygon(
    100% 100%,
    0% 100%,
    0% 31%,
    2.86% 30.55%,
    5.71% 29.27%,
    8.57% 27.32%,
    11.43% 24.94%,
    14.29% 22.44%,
    17.14% 20.14%,
    20% 18.34%,
    22.86% 17.25%,
    25.71% 17.03%,
    28.57% 17.69%,
    31.43% 19.16%,
    34.29% 21.25%,
    37.14% 23.69%,
    40% 26.16%,
    42.86% 28.36%,
    45.71% 30.01%,
    48.57% 30.89%,
    51.43% 30.89%,
    54.29% 30.01%,
    57.14% 28.36%,
    60% 26.16%,
    62.86% 23.69%,
    65.71% 21.25%,
    68.57% 19.16%,
    71.43% 17.69%,
    74.29% 17.03%,
    77.14% 17.25%,
    80% 18.34%,
    82.86% 20.14%,
    85.71% 22.44%,
    88.57% 24.94%,
    91.43% 27.32%,
    94.29% 29.27%,
    97.14% 30.55%,
    100% 31%
  );
}
.marg {
  margin-top: 60px;
}
.clip h3 {
  color: rgb(55, 55, 63);
}
.clip p {
  color: rgb(128, 131, 134);
}

.bigDiv-9 {
  height: 900px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
}
.mini-5 {
  height: 500px;
  width: 85%;

  display: flex;
}
.m1 {
  height: 100%;
  width: 35%;
}
.m2 {
  background-color: rgb(248, 248, 248);
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.inps {
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  row-gap: 30px;
}
.inps input {
  height: 40px;
  width: 250px;
  font-size: 16px;
}
.inps textarea{
  font-size: 16px;


}

.hihi:after
{
content: '';
position: absolute;
border:15px solid #fff;
border-radius: 50%;
top: -20px;
left: -20px;
right: -20px;
bottom: -20px;
animation: bloom2 1.5s linear infinite;
opacity: 0;
animation-delay: .4s;
z-index: 1;
}

@keyframes bloom2
{
0%
{
transform: scale(.5);
}
50%
{
opacity: 1;
}
100%
{
transform: scale(1.1);
}
}
.btn-2 {
  background-color: rgb(206, 18, 18);
  color: white;
  border-radius: 10px;
  padding: 10px;
  border-style: none;
  width: 200px;
  padding: 17px;
  font-size: 18px;
}
.btn-2:hover {
  background-color: rgb(215, 64, 64);
  transition: 0.6;
}
.bigDiv-10 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}
.bigDiv-10 p {
  color: rgb(144, 146, 148);
}
.map {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
.mini-6 {
  height: 300px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 100px;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.contact-1 {
  height: 120px;
  width: 600px;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 20px;
  box-shadow: 1px -1px 27px -9px rgba(0, 0, 0, 0.33);
}
.contact-1 i {
  font-size: 25px;
  padding: 15px;
  background-color: rgb(206, 18, 18);
  border-radius: 50%;
  color: white;
  margin-left: 20px;
}
.contact-1 h2 {
  color: rgb(99, 102, 105);
}
.mini-7 {
  width: 1220px;
  height: 400px;
  box-shadow: 1px -1px 27px -9px rgba(0, 0, 0, 0.33);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px 0px;
}

.inp-1 {
  height: 50px;
  width: 500px;
  font-size: 17px;
}
.inp-2 {
  height: 50px;
  width: 500px;
  font-size: 17px;
}
.inp-3 {
  height: 50px;
  width: 1025px;
  font-size: 17px;
}
.mini-7 textarea {
  font-size: 17px;
}
footer {
  height: 350px;
  width: 100%;
  background-color: rgb(31, 31, 36);
  margin-top: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 200px;
  padding-top: 80px;
}
.footer-1 i {
  color: red;
  font-size: 20px;
}
.ft-1 {
  display: flex;
  gap: 10px;
}
.ft-2 {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.ft-3 {
  display: flex;
  padding-top: 20px;
  gap: 10px;
}
.ft-3 i {
  border-radius: 50%;
  color: gray;
  border: 1px solid gray;
  padding: 10px;
}
.ft-3 i:hover {
  color: red;
  border-color: red;
  transition: 0.4s;
}
.footer-2 {
  height: 150px;
  width: 80%;

  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid gray;
  color: white;
  text-align: center;
  margin-top: 10px;
}


/* menu */
.bigDiv-5{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.secDiv a {
  color: rgb(80, 80, 91);
}
.menu-1{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 110px;
  row-gap: 10px;
  padding-bottom: 100px;
 
}

.menu-1 div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.menu-1 div h2{
  color: rgb(206, 18, 18);
}
.menu-1 div p{
  color: rgb(161, 161, 168);
}
.verybig{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.mini-menu-1{
  display: flex;
  gap: 20px;
  padding: 20px 0px;
}
.mini-menu-1 h4{
  padding: 10px 0px;
  border-bottom: 3px solid gray;
}
.mini-menu-1 h4:hover{
  border-bottom: 3px solid red;
}
.mini-menu-2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
  padding-top: 40px;
}
/* modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px); 
  z-index: 999999999;
  display: none; 
}

.modal {
  height: 550px;
  width: 420px;
  background: linear-gradient(72deg, rgba(175,173,173,1) 0%, rgba(0,0,0,1) 75%);
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 60px;
  font-size: 18px;
  color: wheat;
  position: relative;
  z-index: 1000000000; 
}
.modal div input{
  height: 40px;
  width: 300px;
  border-radius: 20px;
  font-size: 16px;
}
.save{
  width: 250px;
  height: 40px;
  font-size: 17px;
  border-radius: 20px;
  color: wheat;
  background: linear-gradient(72deg, rgba(116,209,217,1) 0%, rgba(0,0,0,1) 75%);

}
.hohoho{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* caroseul */





.carousel-container {

  background: gray;
  position: relative;
  overflow: hidden;
}
.carousel {
  display: flex;
  transition: 0.5s;
}


.slide {
  min-width: 100%;
}

.slide img {
  width: 100%;
  height: 100%;
}

.next , .previous {
  padding: 1vh 2vw;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.next{
  right:0px ;
}
.previous{
  left:0 ;
}

.indicators-grp {
  width: 100%;
  position: absolute;
  bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgb(211, 212, 212);
  cursor: pointer;
}

.indicator.active {
  background: rgb(206, 18, 18); 
}
.cars-1{
  height: 300px;
  width: 100%;
  padding: 100px;
  background-color: rgb(242, 242, 242);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  position: relative;
  right: 100px;
  
}
.yell{
  color: rgb(255, 193, 7);
}
.cars-2{
  border-radius: 50%;
  
}
.please{
  height: 250px;
  width: 250px;
}

.big-cars-3{
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  border-left: 3px solid rgb(255, 0, 0);
  padding-left: 20px;
}
.cars-3{
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 20px;
}

#contact:hover{
  transition: 2s;
  color: black;
  width: 10px;
  border-bottom: 1px solid red;
}
.secDiv a:hover{
  color: black;
  width: 10px;
  border-bottom: 1px solid red;
  
  
}
